In [1]:
import pandas as pd

In [2]:
region1 = pd.read_csv("region1.csv")
region2 = pd.read_csv("region2.csv")

In [3]:
title1 = pd.DataFrame(region1)
title2 = pd.DataFrame(region2)
titles = [title1, title2]
titles_all = pd.concat(titles)

In [4]:
title_basics = pd.read_csv('raw_basic1.csv')
#title_basics.head()

,titleType,tconst,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,short,tt0000001,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,short,tt0000002,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,short,tt0000003,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,5,"Animation,Comedy,Romance"
3,short,tt0000004,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,short,tt0000005,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [5]:
merge_df1 = pd.merge(titles_all, title_basics, how = "left", left_on="titleId", right_on="tconst")
#merge_df1.head()

In [6]:
title_ratings = pd.read_csv('ratings.csv')
#title_ratings.head()

,Unnamed: 0,ordering,titleId,title,region,language,types,attributes,isOriginalTitle,tconst,averageRating,numVotes
0,0,3,tt0000001,Carmencita,US,\N,imdbDisplay,\N,0,tt0000001,5.7,2053.0
1,1,6,tt0000002,The Clown and His Dogs,US,\N,\N,literal English title,0,tt0000002,5.7,275.0
2,2,3,tt0000005,Blacksmith Scene,US,\N,imdbDisplay,\N,0,tt0000005,6.2,2775.0
3,3,5,tt0000005,Blacksmith Scene #1,US,\N,alternative,\N,0,tt0000005,6.2,2775.0
4,4,7,tt0000005,Blacksmithing,US,\N,\N,informal alternative title,0,tt0000005,6.2,2775.0

In [8]:
merge_df2 = pd.merge(merge_df1, title_ratings, how = "left", left_on="titleId", right_on="titleId")
#merge_df2.head()