In [1]:
import pandas as pd

In [2]:
region1 = pd.read_csv("region1.csv")
region2 = pd.read_csv("region2.csv")

In [3]:
title1 = pd.DataFrame(region1)
title2 = pd.DataFrame(region2)
titles = [title1, title2]
titles_all = pd.concat(titles)

In [4]:
title_basics = pd.read_csv('raw_basic1.csv')
title_basics.head()

,titleType,tconst,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,short,tt0000001,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,short,tt0000002,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,short,tt0000003,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,5,"Animation,Comedy,Romance"
3,short,tt0000004,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,short,tt0000005,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [5]:
merge_df1 = pd.merge(titles_all, title_basics, how = "left", left_on="titleId", right_on="tconst")
merge_df1.head()

,ordering,titleId,title,region,language,types,attributes,isOriginalTitle,titleType,tconst,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,3,tt0000001,Carmencita,US,\N,imdbDisplay,\N,0,short,tt0000001,Carmencita,Carmencita,0.0,1894,\N,1,"Documentary,Short"
1,6,tt0000002,The Clown and His Dogs,US,\N,\N,literal English title,0,short,tt0000002,Le clown et ses chiens,Le clown et ses chiens,0.0,1892,\N,5,"Animation,Short"
2,3,tt0000005,Blacksmith Scene,US,\N,imdbDisplay,\N,0,short,tt0000005,Blacksmith Scene,Blacksmith Scene,0.0,1893,\N,1,"Comedy,Short"
3,5,tt0000005,Blacksmith Scene #1,US,\N,alternative,\N,0,short,tt0000005,Blacksmith Scene,Blacksmith Scene,0.0,1893,\N,1,"Comedy,Short"
4,7,tt0000005,Blacksmithing,US,\N,\N,informal alternative title,0,short,tt0000005,Blacksmith Scene,Blacksmith Scene,0.0,1893,\N,1,"Comedy,Short"

In [6]:
title_ratings = pd.read_csv('ratings.csv')
title_ratings.head()

,Unnamed: 0,ordering,titleId,title,region,language,types,attributes,isOriginalTitle,tconst,averageRating,numVotes
0,0,3,tt0000001,Carmencita,US,\N,imdbDisplay,\N,0,tt0000001,5.7,2053.0
1,1,6,tt0000002,The Clown and His Dogs,US,\N,\N,literal English title,0,tt0000002,5.7,275.0
2,2,3,tt0000005,Blacksmith Scene,US,\N,imdbDisplay,\N,0,tt0000005,6.2,2775.0
3,3,5,tt0000005,Blacksmith Scene #1,US,\N,alternative,\N,0,tt0000005,6.2,2775.0
4,4,7,tt0000005,Blacksmithing,US,\N,\N,informal alternative title,0,tt0000005,6.2,2775.0

In [7]:
merge_df2 = pd.merge(merge_df1, title_ratings, how = "left", left_on="titleId", right_on="titleId")
merge_df2.head()

,ordering_x,titleId,title_x,region_x,language_x,types_x,attributes_x,isOriginalTitle_x,titleType,tconst_x,...,ordering_y,title_y,region_y,language_y,types_y,attributes_y,isOriginalTitle_y,tconst_y,averageRating,numVotes
0,3,tt0000001,Carmencita,US,\N,imdbDisplay,\N,0,short,tt0000001,...,3,Carmencita,US,\N,imdbDisplay,\N,0,tt0000001,5.7,2053.0
1,6,tt0000002,The Clown and His Dogs,US,\N,\N,literal English title,0,short,tt0000002,...,6,The Clown and His Dogs,US,\N,\N,literal English title,0,tt0000002,5.7,275.0
2,3,tt0000005,Blacksmith Scene,US,\N,imdbDisplay,\N,0,short,tt0000005,...,3,Blacksmith Scene,US,\N,imdbDisplay,\N,0,tt0000005,6.2,2775.0
3,3,tt0000005,Blacksmith Scene,US,\N,imdbDisplay,\N,0,short,tt0000005,...,5,Blacksmith Scene #1,US,\N,alternative,\N,0,tt0000005,6.2,2775.0
4,3,tt0000005,Blacksmith Scene,US,\N,imdbDisplay,\N,0,short,tt0000005,...,7,Blacksmithing,US,\N,\N,informal alternative title,0,tt0000005,6.2,2775.0

In [8]:
#Bin genres
merge_df2['genres'] = merge_df2['genres'].str.split('|')
exploded_genres = merge_df2.explode('genres')

In [9]:
#Print bins
genre_counts = exploded_genres['genres'].value_counts()
print(genre_counts)

genres
Drama                       32056
Adult                       28156
Comedy                      25570
Comedy,Short                21919
Documentary,Short           12914
                            ...
Family,Game-Show,History        1
Drama,Game-Show,Mystery         1
Family,Fantasy,Western          1
Crime,Film-Noir,Sport           1
Comedy,Crime,History            1
Name: count, Length: 1491, dtype: int64

In [12]:
genre_avg_rating = exploded_genres.groupby('genres')['averageRating'].mean()
print(genre_avg_rating)

genres
Action                    5.392727
Action,Adult              5.542857
Action,Adult,Adventure    6.048485
Action,Adult,Animation    6.000000
Action,Adult,Comedy       4.106452
                            ...
Thriller,Western          5.583333
War                       6.058854
War,Western               6.200000
Western                   6.208217
\N                        6.392512
Name: averageRating, Length: 1491, dtype: float64

In [11]:
#Use Jim's code to narrow down genre categories

KeyError: 'genres'